/* ## fonts */
    /* font-family: 'Oxygen', sans-serif; */
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Oxygen Light'), local('Oxygen-Light'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDcZG1Wl4LcnbuCJW8zaGW5.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDfZG1Wl4LcnbuKjk0m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Oxygen Bold'), local('Oxygen-Bold'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDcZG1Wl4LcnbuCNWgzaGW5.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
    /* font-family: 'Kalam', cursive; */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Kalam Light'), local('Kalam-Light'), url(https://fonts.gstatic.com/s/kalam/v10/YA9Qr0Wd4kDdMtD6GjLMkiQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kalam'), local('Kalam-Regular'), url(https://fonts.gstatic.com/s/kalam/v10/YA9dr0Wd4kDdMthROCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Kalam Bold'), local('Kalam-Bold'), url(https://fonts.gstatic.com/s/kalam/v10/YA9Qr0Wd4kDdMtDqHTLMkiQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* General */
* {
    margin: 0;
    box-sizing: border-box;
    color: #5e5e5e;
}
body {
    font-family: 'Oxygen', sans-serif;
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
    color: inherit;
}
.capitalize {
    text-transform: capitalize;
}
/* Header */
header {
    background-image: linear-gradient(to right, #587cf3, #4db8d7);
    position: sticky;
    top: 0;
    height: 50px;
    text-align: center;
}

header span {
    display: block;
    position: absolute;
    height: inherit;
    width: 150px;
}

header span p {
    padding: 6px 0;
    font-family: 'Kalam', cursive;
    font-size: 24px;
    color: ivory;
}

#top-nav {
    display:block;
    margin: auto;
    height: 100%;
    box-shadow: 0 2px 10px -2px rgb(107, 107, 107);
}

#top-nav ul {
    list-style-type: none;
    display: inline-block;
    margin: auto;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
#top-nav ul li {
    float: left;
    height: 100%;
    margin: 0 5px;
}
#top-nav ul li a {
    font-weight: 700;
    display: block;
    width: auto;
    height: 100%;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#top-nav ul li a:hover {
    color: #000000;
}

/* Content */
@media screen and (max-width : 1000px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .flex-container > section {
        margin: 10px 10px;
        font-size: 30px;
        padding: 0;
    }
    .flex-section {
        display: flex;
    }
    section#add-data {
        width: 100%;
    }
    section#view-data {
        width: 100%;
    }
    div.data-form section label {
        min-width: 100px;
        margin-right: 10px;
    }
    div .input{
        width: 100%;
    }
    div .button {
        width: 100%;
    }
}

@media screen and (min-width : 1000px) {
    .flex-container {
        display: flex;
    }
    .flex-container > section {
        margin: 5px 10px;
        font-size: 30px;
        padding: 0;
    }
    .flex-section {
        display: flex;
        flex-direction: column;
    }
    section#add-data {
        width: 35%;
    }
    section#view-data {
        width: 65%;
    }
}

main {
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 20px 20px 60px 20px;
}

h1.title {
    display: block;
    margin: 0;
    padding: 4px;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 22px;
    background-color: #4aaddc;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px -2px rgb(107, 107, 107);
    border-radius: 5px;
    color: white;
    cursor: unset;
}

    /* form section */
    .input {
        height: 35px;
        font-size: 18px;
        overflow: hidden;
        padding: 0 10px;
        border: 1px solid #8a8989;
        border-radius: 4px;
        background-color: #e6e3e3b0;
    }

    .input:focus {
        outline: none;
    }
    .button:focus {
        outline: none;
    }

    input[type = "submit"] {
        background-color: #4db8d7;
        border: 1px solid #8a8989;
        border-radius: 4px;
        width: 200px;
        height: 35px;
        font-size: 18px;
        color: white;
        margin: 10px 0;
    }
    input[type = "submit"]:hover {
        background-color: #35a6c5;
        cursor: pointer;
    }

    div.data-form {
        height: auto;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 0px 9px 0px #8a8989;
        border-radius: 5px;
        padding: 15px;
    }
    div.data-form section {
        padding: 2px 0;
    }
    div.data-form section label {
        min-width: 110px;
        font-size: 18px;
        margin-bottom: 10px;
        padding: 0;
        margin: 3px 0 5px 0;
        font-style: italic;
        font-weight: 700;
    }


    /* view data section */ 
    div.view-data {
        height: auto;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 0px 9px 0px #8a8989;
        border-radius: 5px;
        padding: 0;
        overflow-x: scroll;
    }

    div table {
        width: 100%;
        border-spacing: 0;
        padding: 10px;
        min-width: 750px;
    }
    table thead {
        font-size: 18px;
        font-style: italic;
    }
    th {
        height: auto;
        padding: 5px;
        text-align: left;
    }
    tr {
        margin: 0;
        padding: 0;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th, td {
        border-bottom: 1px solid #ddd;
        margin: 0 10px;
    }
    td {
        font-size: 16px;
        padding: 5px;
        overflow: hidden;
        max-width: 50px;

    }
    .phone {
        width: 150px;
    }
    .last {
        text-align: right;
        width: 50px;
    }



/* Footer */
footer {
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    overflow: hidden;
    border-top: #2c2c2cb6 1px solid;
    z-index: 9;
    position: fixed;
    bottom: 0;
}
footer p {
    display: block;
    font-size: 12px;
    color: #000000;
}